
header {
background: -webkit-linear-gradient(right, #111114, #8f9092);
border: solid #6993e7;
}

#current-container {
    border: solid #7b7e81;
    background:-webkit-linear-gradient(right, #3271eebb, #7aa2f11a);
}

.btn {
  text-align: center;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: solid #7b7e81;
  outline: none;
  color: white;
  background-color: #6993e7;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
 
}
.daily-date {
  font-size: 1.5vw;
  color: white;
}

.daily-weather-text {
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}

.tag-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid #6993e7;
  gap: 1vw;
  padding: 1.5vw;
}

.tag-text {
  font-size: 1.3vw;
  margin: 0px;
  padding: 0px;
}

.forecast-section {
    text-align: center;
    font-size: 1vw;
}

#forecast-days {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: .5vw;
}