
header {
background: -webkit-linear-gradient(right, #111114, #8f9092);
border: solid #6993e7;
}

#current-container {
    border: solid #7b7e81;
    background:-webkit-linear-gradient(right, #3271eebb, #7aa2f11a);
}

.btn {
  text-align: center;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: solid #7b7e81;
  outline: none;
  color: white;
  background-color: #6993e7;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
 
}
.daily-date {
  font-size: 1.5vw;
  color: white;
}

.daily-weather-text {
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: solid #6993e7;
}

.card-text {
  font-size: 1.5vw;
  margin: 0px;
  padding: 0px;
}

.forecast-section {
    text-align: center;
    font-size: 1vw;
}

@media only screen and (min-width: 768px) {
    .forecast-section {
        margin: 1rem 1rem 1rem;
        width: 100%!important;
    }

    .daily-date {
        font-size: 1.5vw;
    }

    #forecast-days {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        gap: .5vw;
    }
}

@media only screen and (max-width: 600px) {
    .forecast-section {
       margin: 1rem 1rem .5rem
    }

    .daily-date {
        font-size: 2vw;
        font-weight: bold;
    }
    
    #forecast-days {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 1vw;
        width: 100%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-text {
        font-size: 2vw;
        margin: 0;
    }
}